html {
	min-width:800px;
}

body{
	margin: 0;
	font-family: 'Montserrat';
	background: url("../img/Logo-Background/Piscina-Splash.jpg") no-repeat  center center;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
}
/*
=====================================
HEADER
=====================================
*/
#header{
	min-width:780px;
	position: fixed;
	top:0;
	width:100%;
}
#header img{
	float:left;
	width:8.5em;
	margin-left:0%;
	padding-left: 1em;
	padding-top:0.35%;
}

#header {
	background-color: #003366;
	overflow: hidden;
}

.headeright{
	float: right;
	color: #ffffff;
	text-align: center;
	padding: 0.5em 0.5em;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Montserrat';
}

.headeright:hover{
	background-color: #000066;
	color: #8c8c8c;
	transition: .8s ease;	
	
}

#header .active {
	float: right;
	background-color: #4d94ff;
	color: white;
	text-align: center;
	padding: 0.5em 0.5em;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Montserrat';
}

#hamburger{
	display:none;
}

#headerformobile {
	display:none;
}

.closebtn{
	display:none;
}
/*
==========================
CONTENT
==========================
*/

#menu #external{
	display:grid;
	list-style-type:none;
	grid-template-columns: repeat(2, 1fr);
	background-color: rgba(255, 255, 255, 0.5);
	padding-left:0;
}

#menu li{
	text-align:center;
	line-height: 6.3em;
	font-size: 3em;
	font-family: 'Montserrat';
	text-decoration-line: none;
	color: black;
	font-weight: bold;
}

#unicorni{
	width:100%;
}

.freccetta{
	display:none;
}
.container{
	position:relative;
}
.container a{
	color:navy;
	text-decoration:none;
}
.container a:visited{
	color:tomato;
}
ul ul, ol ul {
    list-style-type: none;
}
.overlay{
	display:block;	
	font-size:0.11em;
	position: absolute;
	display:block;
	width:100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .5s ease;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
	padding-left:0;
}

#piscina li{
	line-height:4.5em;
}
#palestra li{
	line-height:9em;
}
#chisiamo:hover{
	background: url("../img/Menu/Chi-siamo.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
	transition: .5s ease;
	color:white;
}
#piscina{
	background:  url("../img/Menu/Piscina.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
}
#palestra{
	background: url("../img/Menu/Palestra.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
}
#lavoraconoi:hover{
	background: url("../img/Menu/Lavora-con-noi.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
	transition: .5s ease;

}
#lavoraconoi:hover a{
	transition: .5s ease;
	color:white;
}
#chisiamo:hover a{
	transition: .5s ease;
	color:white;
}
.overlay a{
	text-decoration:none;
	color:white;
}

.overlay a:visited{
	color:tomato;
}
.container:hover .overlay {
  opacity: 1;
}

/*
===========================================
SLIDESHOW
===========================================
*/

#slide{
	width:100%;
	}
	
* {
	box-sizing: border-box
}

.mySlides {
	display: none
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 20%;
  position: relative;
  margin: auto;
}

.prev, .next {
	background-color: rgba(0,0,0,0.4); 
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background-color: rgba(0, 0, 0, .3);
  color: #ffffff;
  font-size: 15px;
  padding: 8px 20px;
  position: absolute;
  bottom: 0.5%;
  width: 100%;
  text-align: left;
  text-width: 
}

.dots {
	position: relative;
	text-align:center;
	width: 100%;
}

.text-date {
  font-size: 15px;
  padding: 8px 20px;
  position: absolute;
  right: 5%;
  bottom: 8px;
  width: 20%;
  text-align: right;
}

.slideshow-img {
	width: 100%;
	height: 50%;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*
===========================================
FOO TER FIGHTER
===========================================
*/

#footer ul{
	margin:0;
	padding:0;
	text-align:center;
}
#footer li{
	display: block;
	font-weight:bold;
}	
#footer img{
	padding:0.5%;
	width:2%;
}
