* { 
	list-style-type:none;
}

body {
	background: #d5e7f6;
	width:100%;
}

.header {
	width:100%;
	padding-top:2%;
	padding-bottom:2%;
	color: white;
	background: #003366;
	text-align: center;	
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	font-family: 'Montserrat';
	font-size: 200%;
}
form, .content {
	margin-top: 5%;
	height: auto;
	width:100%;
	padding-top:2%;
	padding-bottom:2%;
	background: #d5e7f6;
	border-radius: 0px 0px 10px 10px;
	font-family: 'Montserrat';
	
}

.input-group {
	margin: 0px 0px 50px 0px;
	background: #d5e7f6;
	text-align: center;
	border-bottom: none;
	padding: 2%;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
	font-weight: 300;
	font-size: 290%;
	color: #003366;
}
.input-group input {
	height: auto;
	width: 90%;
	padding: 2%;
	font-size: 350%;
	border-radius: 30px;
	border: 1px solid gray;
}
.igf input{
	padding: 5%;
}

#user_type {
	width: 98%;
	padding-top:2%;
	padding-bottom:2%;
	background: white;
	font-size: 250%;
	border-radius: 30px 30px 30px 30px;
	border: 1px solid gray;
}
.type{
	font-size: 38%;
}
.btn {
	text-decoration: none;
	height: 30%;
	width: 60%;
	padding: 3%;
	font-size: 300%;
	color: white;
	background: #003366;
	border: none;
	border-radius: 30px;
}
.error {
	margin: 0; 
	padding: 1%; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block;  
	margin: 5%;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin-top: 15%;
	margin-left:10%;
	font-size: 300%;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
.center_text {
	width: 100%;
	margin: 50px auto 0px;
	text-align: center;
	font-weight: bold;
	padding: 2%;
}

.back {
	font-size: 275%;
}

.upload-img {
	background: url("../img/Logo-Background/Upload.png") no-repeat  center center;
	background-color: #79b0d2;
}

.center {
    width: 80%;
    text-align: center;
}

.center-btn {
	display:inline-block;
	display: -moz-inline-box;
    *display: inline;
    zoom: 1;
    width: 95%;
    text-align: center;
}

.side-by-side-1 {
	margin-left:7%;
	margin-right:7%;
	text-align: center;
	width:100%;
	border-style: solid;
	border-width: 3px;
}

.side-by-side-2 {
	margin-left:7%;
	margin-right:7%;
	text-align: center;
	width:100%;
	border-style: solid;
	border-width: 3px;
}

.side-by-side-3 {
	margin-left:7%;
	margin-right:7%;
	text-align: center;
	width:100%;
	border-style: solid;
	border-width: 3px;
}

.side-null {
	margin-left:7%;
	margin-right:7%;
	text-align: center;
	width:100%;
	color: red;
}

.gtitles {
	background-color: #79b0d2;
}
