.header {
	width: 90%;
	margin-top: 25%;
	margin-left:5%;
	margin-right:5%;
	padding-top:2%;
	padding-bottom:2%;
	color: white;
	background: #003366;
	text-align: center;	
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	font-family: 'Montserrat';
	font-size: 200%;
}
form, .content {
	height: auto;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	padding-top:2%;
	padding-bottom:2%;
	background: #d5e7f6;
	border-radius: 0px 0px 10px 10px;
	font-family: 'Montserrat';
	
}

.input-group {
	margin: 0px 0px 50px 0px;
	background: #d5e7f6;
	text-align: center;
	border-bottom: none;
	padding: 20px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
	font-weight: 300;
	font-size: 290%;
	color: #003366;
}
.input-group input {
	height: 80px;
	width: 90%;
	padding: 5px 10px;
	font-size: 280%;
	border-radius: 30px;
	border: 1px solid gray;
}

#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	height: 30%;
	width: 60%;
	padding: 10px;
	font-size: 300%;
	color: white;
	background: #003366;
	border: none;
	border-radius: 30px;
}
.error {
	margin: 0; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
.center_text {
	width: 40%;
	margin: 50px auto 0px;
	text-align: center;
	font-weight: bold;
	padding: 20px;
}