.header {
	width: 90%;
	margin: 50px auto 0px;
	color: white;
	background: #003366;
	text-align: center;
	/*border: 1px solid #B0C4DE;*/
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	height: auto;
	width:90%;
	margin: 0px auto;
	padding: 0px;
	/*border: 1px solid #B0C4DE;*/
	background: #d5e7f6;
	border-radius: 0px 0px 10px 10px;
	font-family: 'Montserrat';
	
}

.formobile{
	background: #003366;
	padding: 50px;
	margin: 0px auto;
}

.input-group {
	margin: 0px 0px 50px 0px;
	background: #d5e7f6;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 20px 20px 20px 20px;
	padding: 20px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
	font-weight: 500;
	font-size: 370%;
	color: #003366;
}
.input-group input {
	height: 80px;
	width: 90%;
	padding: 5px 10px;
	font-size: 350%;
	border-radius: 30px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #003366;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
.center_text {
	width: 40%;
	margin: 50px auto 0px;
	text-align: center;
	font-weight: bold;
	padding: 20px;
}

#sesso{
	height: 80px;
	width: 90%;
	padding: 5px 10px;
	font-size: 50px;
	border-radius: 30px;
	border: 1px solid gray;
}
.sex{
	height: 80px;
	width: 90%;
	padding: 5px 10px;
	font-size: 10x;
	border-radius: 30px;
	border: 1px solid gray;
}